---
import { Image } from "@astrojs/image/components";

import {
  getThumbnailFromYoutubeId,
  getYoutubeEmbedUrlFromId,
  getYoutubeVideoIdFromUrl,
} from "~helpers/youtube";

import CloseIcon from "./CloseIcon.astro";
import PlayIcon from "./PlayIcon.astro";
import VolumeIcon from "./VolumeIcon.astro";

import type { YoutubeVideo } from "../../types";

type Props = { imageLoading: "lazy" | "eager" } & YoutubeVideo;

// TODO: try remove controls param below
const { youtubeUrl, coverImage, imageLoading } = Astro.props;

const youtubeId = getYoutubeVideoIdFromUrl(youtubeUrl)!;
const youtubeEmbedSrc = getYoutubeEmbedUrlFromId(youtubeId);
const youtubeThumbnailSrc = getThumbnailFromYoutubeId(youtubeId);

const youtubeIframeParams =
  "?enablejsapi=1&modestbranding=1&rel=0&color=white&controls=1";

const coverImageYPosition = coverImage?.yPosition || 50;
---

<div class="iframe-container media-transform">
  <iframe
    id={youtubeId}
    class="iframe"
    src={youtubeEmbedSrc + youtubeIframeParams}></iframe>
  <div class="iframe-overlay">
    {
      coverImage ? (
        <Image
          class="iframe-img"
          src={coverImage.url}
          alt=""
          style={{
            objectPosition: `50% ${coverImageYPosition}%`,
          }}
          loading={imageLoading}
        />
      ) : (
        <Image
          class="iframe-img"
          src={youtubeThumbnailSrc}
          width={1600}
          aspectRatio="16:9"
          alt=""
          style={{
            objectPosition: `50% ${coverImageYPosition}%`,
          }}
          loading={imageLoading}
        />
      )
    }
    <div class="play-icon">
      <PlayIcon lineWidth={2} />
    </div>
  </div>
  <div id="player-loading" class="player-loading">Loading...</div>
  <div id="close-button" class="iframe-helper-overlay close-button">
    <span>close</span>
    <CloseIcon />
  </div>
  <div id="volume-message" class="iframe-helper-overlay volume-message">
    <VolumeIcon />
    <span>use controls for volume</span>
  </div>
</div>

<style>
  .iframe-container {
    position: relative;
    height: 100%;
    max-height: 1000px;
    aspect-ratio: 16 / 9;
  }
  .iframe {
    position: absolute;
    width: 100%;
    height: 100%;
  }
  .iframe-overlay {
    z-index: 2;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transition: opacity ease-in-out 0.2s;
  }
  .iframe-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
</style>

<style>
  .player-loading {
    z-index: -1;
    opacity: 0;
    position: absolute;
    left: 2%;
    top: 2%;
    background-color: black;
    color: white;
    padding: 0.2em 0.5em;
    border-radius: 3px;
    transition: opacity 0.2s ease-in-out;
  }
  .iframe-helper-overlay {
    z-index: 1;
    position: absolute;
    background-color: black;
    color: white;
    text-transform: uppercase;
    padding: 0.2em 0.5em;
    border-radius: 3px;
    transition: opacity 0.2s ease-in-out;
    display: flex;
    align-items: center;
    gap: 0.5em;
    opacity: 0;
  }
  .close-button {
    right: 1%;
    top: 40%;
    font-size: large;
    cursor: pointer;
  }
  .volume-message {
    bottom: 30%;
    left: 1%;
    max-width: 60%;
    white-space: wrap;
    cursor: default;
    pointer-events: none;
  }
  .play-icon {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 10%;
    aspect-ratio: 1;
    min-width: 20px;
  }
  @media screen and (max-width: 600px) {
    .close-button {
      top: 35%;
    }
    .volume-message {
      bottom: 45%;
    }
  }
</style>
